.alert {
    list-style-type: none;
    color: white;
    margin: 16px;
    padding: 4px;
    border-radius: 10px;
    max-width: 1200px;
    font-size: 32px;
  }
  
  .alert a {
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
    text-decoration: none;
  }
  
  .alert div {
    width: -webkit-fill-available;
  }
  
  .alert img {
    height: 50px;
   
  }
  
  .alert.veryLargeDrop {
    background-color: red;
    font-size: 50px;
    font-weight: bold;
  }
  
  .alert.largeDrop {
    background-color: red;
  }
  
  .alert.mediumDrop {
    background-color: purple;
  }
  
  .alert.smallDrop {
    background-color: orange;
  }
  
  .alert.increase {
    background-color: green;
  }
  
  .alert.largeIncrease {
    background-color: blue;
  }
  
  .alert.nochange {
    background-color: grey;
  }
  
  .alert .smallFont {
    font-size: 18px;
  }
  
  .rotateLeft90{
    transform: rotate(-90deg);
  }
  
  .rotateRight90{
    transform: rotate(90deg);
  }