.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
/*  min-height: 100vh; */
  display: flex;
  flex-direction: column;
  align-items: center;
/*  justify-content: center; */
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.alert {
  list-style-type: none;
  color: white;
  margin: 16px;
  padding: 4px;
  border-radius: 10px;
}

.alert.red {
  background-color: red;
}

.alert.orange {
  background-color: orange;
}

.alert.green {
  background-color: green;
}

.alert.grey {
  background-color: grey;
}

.alert a {
  color: white;
  text-decoration: none;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
